@import url(bag.fixed.css);
@import url(https://cdn.rawgit.com/connors/photon/master/dist/css/photon.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/gridly/1.4.0/prefixed/gridly-core.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css);

.col {
    padding-right: 15px;
}

input.form-control[type="color"] {
    height: 49px;
    margin-bottom: 10px;
}
