div {
    border: 0;
    padding: 0;
    margin: 0 0 0 0;
}

div.terminal > div {
    padding-bottom: 0.8px;
    white-space: nowrap;
}

.terminal {
    font-family: monospace;
    font-size: 11px;
    line-height: 1;
    color: #f0f0f0;
    background: #1A1A1A !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.reverse-video {
    color: #000;
    background: #f0f0f0;
}
