@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:700);

html, body {
  margin: 0;
  padding: 0;
}

div {
  border: 0;
  padding: 0;
  margin: 0;
}

html {
  background: #fff;
}

body {
    overflow: hidden;
}

/* Only allow plaintext?
[contenteditable=""],
[contenteditable="true"] {
  -webkit-user-modify: read-write-plaintext-only !important;
}
*/

/**
 * Terminal
 */
.tty-window {
  /* border: #fafafa solid 1px; */
  background: #272829;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.8) 2px 2px 20px;
  bottom: 0;
  right: 0;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 13px;
  padding: 1px 0;
  font-family: "Ubuntu Mono", monospace;
  color: #fafafa;
  display: none;
}

.title {
  position: absolute;
  right: 5px;
  top: 2px;
  font-size: 11px;
  cursor: default;
}

.tab {
  font-size: 16px;
  margin-left: 8px;
  margin-top: -2px;
  float: left;
  cursor: pointer;
}

.tab:hover {
  font-weight: bold;
}

.terminal {
  font-family: "Ubuntu Mono", monospace;
  font-size: 11px;
  line-height: 1;
  color: #f0f0f0;
  background: #1A1A1A !important;
  /* padding: 10px 6px; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.reverse-video {
  color: #000;
  background: #f0f0f0;
}
